%form{ :action => 'parse', :method => 'post' }
  %label URL
  %input{ :type => 'text', :name => 'url' }
  %br
  %label Team
  %input{ :type => 'text', :name => 'team' }
  %br
  %input{ :type => 'submit' }

